<div>
    <input nz-input [(ngModel)]="value.username" placeholder="User Name" />
    <input nz-input [(ngModel)]="value.email" placeholder="E-mail"/>
    <nz-divider></nz-divider>
    <button nzType="primary" (click)="close()" nz-button>Confirm</button>
</div>