.layout {
    min-height: 100vh;
}

nz-header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

nz-content {
    padding: 0 50px;
    margin-top: 64px;
  }

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.header-menu {
    line-height: 64px;
}

.outer-content {
    padding: 0 20px;
}

.inner-layout {
    // padding: 24px 0;
    background: #fff;
}
.working-area {
    padding: 1em;
    background: #fff;
    min-height: 80vh;;
}

.sider-menu {
    height: 100%;
}

.inner-content {
    padding: 0 24px;
    min-height: 280px;
}

nz-footer {
    text-align: center;
}

nz-breadcrumb {
    margin: 8px 0;
}
