<nz-drawer nzWidth="300"
           [nzBodyStyle]="leftDrawerStyle"
           [nzClosable]="true"
           [nzMaskClosable]="true"
           [nzVisible]="leftDrawerShow"
           nzPlacement="left"
           nzTitle="Basic Drawer"
           (nzOnClose)="closeLeftDrawer()"
           class="drawer">
    <ul nz-menu nzMode="inline" style="width: 250px;" nzTheme="light">
        <li nz-submenu nzOpen [nzTitle]="group.title" [nzIcon]="group.icon" *ngFor="let group of menuOptions">
          <ul>
            <li nz-menu-item
                nzMatchRouter
                *ngFor="let item of group.items">
                <a [routerLink]="item.route" (click)="closeLeftDrawer()">
                    {{ item.title }}
                </a>
            </li>
          </ul>
        </li>
      </ul>
</nz-drawer>
<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <button nz-button (click)="openLeftDrawer()" nzGhost nzType="dashed"><i nz-icon nzType="menu"></i></button>
    </nz-header>
    <nz-content class="outer-content">
        <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>List</nz-breadcrumb-item>
            <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="working-area">
            <ng-content select=".content"></ng-content>
        </div>
        <nz-footer>
            <ng-content select=".footer"></ng-content>
        </nz-footer>
    </nz-content>
</nz-layout>