<nz-table #basicTable [nzData]="users">
    <thead>
        <tr>
            <th>User Name</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of basicTable.data">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </tbody>
    
</nz-table>
<button nzType="primary" nz-button (click)="openComponent()">Add User</button>